* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: #111;
	background: #fff;
	font-size: 18px;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Header */
.header {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 300px;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	z-index: 2;
}

.nav__link {
	font-size: 18px;
	font-weight: 300;
	color: #bbb;
}

.nav__link:hover {
	color: #fff;
}

.header__emptiness {
	width: 100px;
}

.nav__menu-btn {
	display: none;
	z-index: 2;
}

.menu-btn__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
}

/* Home-page */
.main__home-page {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #111;
	height: 60vh;
	border-radius: 0 0 25px 25px;
	z-index: 0;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.home-page img {
	z-index: 2;
}

/*slider*/
/* .home-page__gallery {
	display: flex;
	gap: 30px;
}

.home-page__photo {
	border-radius: 15px;
	z-index: 2;
	transition: transform 10s ease;
	animation: move 10s infinite linear;
}

@keyframes move {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
} */

.home-page__booking {
	display: flex;
	align-items: flex-end;
	padding: 30px;
}

.booking__card {
	padding: 20px 25px;
	display: flex;
	align-items: center;
	gap: 30px;
	background: #111;
	border: solid 2px #ffe445;
	border-radius: 15px;
	z-index: 2;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
}

.booking__btn {
	background: #ffe445;
	color: #111;
	padding: 15px 20px;
	border-radius: 5px;
	z-index: 2;
	font-weight: 400;
}

/* Home-page's circles*/
.home-page__circle {
	width: 50vh;
	height: 50vh;
	position: absolute;
	z-index: 1;
	filter: blur(100px) opacity(15%);
	background: #8c2fe9;
	border-radius: 50%;
}

.circle-1 {
	left: 0;
	bottom: -20vh;
}

.circle-2 {
	right: -10vw;
	top: -20vh;
}

/* Hotel info */
.main__hotel-info {
	width: 50vw;
	margin: 90px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-weight: 400;
	font-size: 18px;
}

.main__hotel-info h1 {
	font-weight: 700;
}

.main__hotel-info p {
	text-align: justify;
}

.main__hotel-info svg {
	width: 20px;
}

.main__hotel-info ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.hotel-info__icon-comforts li {
	height: 30px;
	display: flex;
	align-items: center;
	gap: 6px;
}

.hotel-info__comforts {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.hotel-info__comforts h4 {
	height: 36px;
	display: flex;
	align-items: center;
	gap: 7px;
	font-weight: 400;
}

.hotel-info__comforts h4 svg {
	width: 16px;
}

.hotel-info__comforts li {
	padding-left: 24px;
}

/* Rooms */
.room-cards {
	display: flex;
}

.rooms {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
}

.rooms__room-card {
	width: 250px;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgb(17, 17, 17, 0.5);
}

.rooms__room-card:hover {
	transform: translateY(5px);
	transition: 0.3s ease-in;
	opacity: 0.8;
	color: #333;
}

.room-card__room-class {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.room-card__room-class p {
	padding: 5px 20px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
}

.rooms__room-card img {
	height: 200px;
	border-radius: 10px 10px 0 0;
	background-position: center center;
	background-size: cover;
}

/* Сайдбар */
.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 100vh;
	background: #111;
	color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 4;
}

.sidebar__menu-btn {
	height: 79px;
	display: flex;
	justify-content: right;
	margin-right: 20px;
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar__menu a {
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
}

.sidebar__menu a:hover {
	color: #8c2fe9;
}

@media (max-width: 1440px) {
	.header {
		gap: 30px;
	}
	.header__nav {
		gap: 15px;
	}
	.home-page__gallery {
		width: 450px;
		height: 300px;
	}
	.booking__card {
		padding: 10px 15px;
		gap: 15px;
		font-size: 18px;
	}
	.booking__btn {
		padding: 8px 10px;
	}
	.main__hotel-info {
		width: 90vw;
		font-size: 16px;
	}
	.rooms__room-card {
		width: 250px;
	}
	.rooms__room-card img {
		width: 250px;
		height: 200px;
	}
}

@media (max-width: 810px) {
	.header {
		width: 100%;
		gap: 0;
		justify-content: space-around;
	}
	.header__nav {
		display: none;
	}
	.nav__menu-btn {
		display: block;
	}
	.main__home-page {
		height: 85vh;
	}
	.home-page__gallery {
		width: 95%;
		height: auto;
	}
	.home-page__booking {
		margin-bottom: 10px;
	}
	.booking__card {
		flex-direction: column;
		gap: 15px;
		border: none;
		background: none;
		white-space: wrap;
		text-align: center;
	}
	.rooms {
		justify-content: center;
		gap: 20px;
	}
}
